:root {
    --fw-bold: 700;
    --fw-medium: 500;
    --fw-regular: 400;
    --primary-color: #0E3EDA;
    --bg-color: white;
    --primary-hover-color: #0B2FA6;
    --primary-focus-color: #082480;
    --primary-disable-color: #D0D7F3;

    --secondary-color: #F473B9;
    --secondary-hover-color: #CC609B;
    --secondary-focus-color: #A64E7D;

    --border-default-color: #E4E5F0;
    --border-hover-color: #A7ABC3;
    --global-font: 'Roboto';
    --focus-color: #1990FF;
    --text-color: #434657;
    --text-title-color: #1B1D29;
    --text-blur: #A7ABC3;
    --invalid-color: #DA4343;
    --input-disable-color: #F3F3F7;
    --button-disable-color: #DCDEE9;
    --button-text-disable-color: #A7ABC3;
    --ghost-border-default-color: #BCBFD6;
    --ghost-border-hover-color: #82869E;
    --w-ghost-hover-color: #F8F8FC;
    --w-ghost-focus-color: #F3F3F7;
    --text-link-default-color: #82869E;
    --text-link-hover-color: #1473CC;
    --status-success-color: #30CD60;
    --status-yellow-color: #FFA940;
    --status-red-color: #F83142;
    --status-sd-success-color: #F5FDF7;
    --status-sd-danger-color: #FDF6F6;
    --status-sd-yellow-color: #FFFBF5;
    --status-sd-red-color: #FFF5F6;
    --status-sd-blue-color: #E8F4FF;
    --status-outline-red-color: #DF2C3B;
    --disable-switch-color: #E8EBF9;
    --bg-notify-color: #e3e3e3;
    --box-shadow-default: 0 2px 4px rgba(0, 0, 0, 0.05);

    --text-cash-back: #E6983A;
    --th-table-color: #FBFBFD;

    --filter-text-color: invert(25%) sepia(17%) saturate(560%) hue-rotate(194deg) brightness(97%) contrast(90%);
    --filter-primary-color: invert(22%) sepia(98%) saturate(2861%) hue-rotate(225deg) brightness(81%) contrast(115%);
    --filter-focus-color: invert(48%) sepia(75%) saturate(2985%) hue-rotate(190deg) brightness(98%) contrast(107%);
    --filter-link-default-color: invert(53%) sepia(19%) saturate(394%) hue-rotate(194deg) brightness(98%) contrast(80%);
    --filter-link-hover-color: invert(33%) sepia(74%) saturate(1284%) hue-rotate(185deg) brightness(95%) contrast(96%);
    --filter-button-disable-color: invert(84%) sepia(6%) saturate(259%) hue-rotate(193deg) brightness(106%) contrast(92%);
}

body {
    font-family: var(--global-font), sans-serif;
    font-style: normal;
    color: var(--text-color);
    line-height: 20px;
    font-size: 13px;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
    .c-container {
        max-width: 1264px;
    }

}
